button-design1 {
    .btn1-text-color{
        color:#9bd32f !important;        
    }
    .btn1-bg-color{
        background-color: #7683de !important;
    }
    .btn-width{
        width:90% !important;
    }
    .btn1-float-right{
        float:right;
    }
}
